<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>IPHONE TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover" />
    <style>
        /* if landscape mode is detected, rotate the entire site -90 degrees to hint rotating to portrait */
        @media (orientation: landscape) {
            body {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }

        html {
            padding: env(safe-area-inset);
        }

        html,
        body {
            margin: 0 auto;
            overflow-x: hidden;
            background-color: blue;
        }

        .bigBox {
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            overflow-x: hidden;
        }

        .center {
            top: 15%;
            width: 100%;
            position: absolute;
            text-align: center;
        }

        .bigFont {
            font-size: 5rem;
        }

        .smallFont {
            font-size: 2.5rem;
        }
    </style>
</head>

<body>
    <div class="bigBox">
        <div class="center">
            <div class="bigFont">
                Hello-EJS
            </div>
            <div class="smallFont">
                [v2.14.12]
            </div>
            <div class="smallFont">
                <%= dttm %>
            </div>
        </div>
    </div>
</body>

<script>
    document.addEventListener('orientationchange', () => {
        document.documentElement.style.height = `initial`;
        setTimeout(() => {
            document.documentElement.style.width = `100vw`;
            document.documentElement.style.height = `100vh`;
            setTimeout(() => {
                // this line prevents the content from hiding behind the address bar
                window.scrollTo(0, 1);
            }, 500);
        }, 500);
    });
    document.querySelector(".bigBox").style.backgroundColor = "<%=color %>";
    /*
    */
</script>

</html>
